@if (studentInformation) {
  <div>
    <p>Bonjour {{studentInformation.prenom}} {{studentInformation.nom}} de la promotion {{studentInformation.promo}}</p>
    <strong>Merci de m'avoir deployé avec succès ❤</strong>
    @if (studentInformation.secret != null) {
      <p>
        Ne dite rien mais mon secret est
        @if (!showSecret) {
          <span style="cursor: pointer; color: red; text-decoration: underline"
          (click)="showSecret = true">(show)</span>
        }
        @if (showSecret) {
          <span style="cursor: pointer; color: red; text-decoration: underline"
          (click)="showSecret = false">(hide)</span>
          }:
          @if (showSecret) {
            <strong>{{studentInformation.secret}}</strong>
          }
        </p>
      }
      @if (studentInformation.hobbies != null) {
        <div>
          Mes hobbies sont :
          <ul>
            @for (hobby of studentInformation.hobbies; track hobby) {
              <li> {{hobby}}</li>
            }
          </ul>
        </div>
      }
    </div>
  }

  @if (studentInformation === null) {
    <div>
      <p>Bonjour inconnu</p>
      <strong>Le deploiement n'a pas bien fonctionné !! </strong>
      <p>Il me manque tes informations pour te connaitre et te remercier 💔 </p>
    </div>
  }
